.App {
  text-align: center;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: rgb(105, 102, 102);
}

.search {
  width: 15%;
  margin: 0 auto;
  border: none;
  border: solid 2px #ccc;
  border-radius: 20px;
  font-size: calc(10px + 2vmin);
  height: 40px;
}

.search:focus {
  outline: 0;
}

.textArea {
  margin-top: 20px;
  border-radius: 20px;
  font-size: calc(10px + 2vmin);
}

.textArea:focus {
  outline: 0;
}

.inputRadio {
  margin-top: 20px;
}

.inputButton {
  margin-top: 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  font-size: calc(10px + 2vmin);
}
